.top-icon{
    color: #1f7a1f;
}
#menuTitle{
    
    margin-right: 20px;
    font-weight: bolder;
    color: #29a329;
    font-size: 28px;
    // font-family:    "Lucida Console", Courier, monospace;
}

.body{
    background: linear-gradient(135);
}

#menuTitle {
    font-size: large;
    margin-right: 80px;
    font-family: "Lucida Console", Courier, monospace;
}

.mat-toolbar {
    height: 60px;
}

.mat-sidenav {
    background-color: black;
    width: 160px;
}

.side-nav-items {
    display: flexbox;
    flex-direction: column;
}

.side-menu-item {
    color: white !important;
    margin-top: 20px;
}

.main-content {
    margin: 20px;
}

@media (min-width: 900px) {
    #menuIcon {
        display: none;
    }

    .mat-sidenav {
        display: none;
    }
}

@media (max-width: 900px) {
    .top-menu-item {
        display: none;
    }
}